.album-photos {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    gap: 2rem;
    padding-left: 1rem;
}

.album-header {
    display: flex;
    padding-left: 1rem;
}

.album-wrapper {
    width: 100%;
    max-width: 96rem;
    margin: 2rem 0;
    background-color: #393636;
}